.page-content-container {
  animation: fadeIn 1.5s;
}

.page-top {
  width: 100%;
  color: $color-gray;
  background: $color-dark;
  h3 {
    margin-top: 21px;
  }
}

.page-body {
  margin-top: 20px;
}

.page-content-top {
  padding-bottom: 20px;
}

.page-footer {
  height: $footer-height;
  color: $color-gray;
  background-color: $color-black;
  .footer-line1 {
    height: $footer-height / 2;
    padding: $footer-padding;
  }
  .footer-line2 {
    height: $footer-height / 2;
    padding: $footer-padding;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    .footer-nav-btn {
      margin-right: 10px;
      padding: 0 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.5s ease-in;
    }
    .footer-nav-btn:hover {
      background-color: $color-dark;
    }
    .active {
      background-color: $color-dark;
    }
  }
}

.page-to-top {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: 50px;
  height: 50px;
  padding: 4px 17px;
  color: $color-gray;
  background-color: $color-dark;
  border-radius: 5px;
  z-index: $page-layer-trigger;
  cursor: pointer;
  transition: 0.5s ease-in;
  span {
    display: block;
  }
  .page-to-top-font {
    font-size: 14px;
    margin-left: -3px;
  }
}
.page-to-top:hover {
  color: $color-green-light;
  background-color: $color-black;
}