$ace-color1: #E8E8E8;
$ace-color2: #DB784D;
$ace-color3: #36312C;
$ace-color4: #3B3A32;
$ace-color5: #45403B;
$ace-color6: #60A365;
$ace-color7: #EBD1B7;
$ace-color8: #95CC5E;
$ace-color9: #F8BB39;
$ace-color10: #F8F8F0;
$ace-color11: #00A8C6;
$ace-color12: #7A7267;

.page-edit {

  .blog-edit-top {
    .top-info {
      margin: 30px 0 0 0;
      #markdown-post-category {
        height: 27px;
      }
      .top-input {
        cursor: text;
        min-width: 50px;
      }
      .dropdown {
        display: inline-block;
        .dropdown-toggle {
          .caret {
            margin: 0;
          }
        }
        .scrollable-menu {
          height: auto;
          max-height: 360px;
          overflow-x: hidden;
        }
        .dropdown-menu a:hover {
          cursor: pointer;
        }
      }
      .tagsinput-primary {
        display: inline-block;
        height: 27px;
        margin: 0;
        vertical-align: middle;
        .bootstrap-tagsinput {
          background-color: inherit;
          padding: 0;
          input {
            height: 27px;
            margin: 0;
            font-size: 14px;
            line-height: 14px;
            color: $color-white-pure;
          }
        }
      }
    }
    .btn {
      font-size: 14px;
      cursor: default;
    }
    .btn-default {
      margin-left: 10px;
    }
  }

  .page-body {
    .col-md-6 {
      padding: 0;
    }
  }

  #markdown-edit {
    font-size: 16px;
    min-height: 750px;
  }

  #markdown-preview {
    min-height: 750px;
    background-color: $color-white-pure;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;

    h1, h2, h3 {
      margin-top: 0px;
      margin-bottom: 15px;
    }
    h4, h5, h6 {
      margin-top: 0px;
      margin-bottom: 15px;
    }
    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
    }
    h1, .h1 {
      font-size: 28px;
    }
    h2, .h2 {
      font-size: 26px;
    }
    h3, .h3 {
      font-size: 24px;
    }
    h4, .h4 {
      font-size: 22px;
    }
    h5, .h5 {
      font-size: 20px;
    }
    h6, .h6 {
      font-size: 18px;
    }

    p {
      margin: 0 0 10px 0;
      line-height: 22px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    blockquote {
      margin: 0 0 15px;
      padding: 15px 20px;
      border-left: 5px solid #ddd;
      background-color: rgba(102,128,153,.05);
      p {
        font-size: inherit;
      }
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 20px;
    }
    th, td {
      padding: 10px;
      border: 2px solid $color-gray;
    }

    pre {
      padding: 0;
      margin: 0;
      font-size: 16px;
      border: 0 solid $color-white-pure;
      border-radius: 0;
    }
  }

  #markdown-toc {
    position: absolute;
    top: 0;
    left: 0;

    .markdown-toc-icon {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 30px;
      padding: 0 0 3px 3px;
      opacity: 0;
      cursor: pointer;
      transition: 0.7s ease-in;
    }
    .markdown-toc-icon:hover {
      opacity: 1;
    }
    .markdown-toc-content {
      padding: 10px 25px 2px 35px;
      min-width: 200px;
      max-width: 500px;
      display: none;
      background-color: $color-white-pure;
      border-radius: 5px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }
  }

  #markdown-loading {
    position: absolute;
    z-index: $page-layer-trigger;
    top: 0px;
    right: 10px;

    .spinner-markdown-name {
      margin: -4px 15px 0 0;
      color: $color-gray;
    }
  }

  .ace-earthsong {
    background-color: $ace-color3;
    color: $ace-color7;
    .ace_drag_over {
      border: 5px dashed $color-silver;
    }
    .ace_gutter {
      color: $color-silver;
    }
    .ace_print-margin {
      width: 1px;
      background: $ace-color1;
    }
    .ace_cursor {
      color: $ace-color10;
    }
    .ace_marker-layer .ace_selection {
      background: $ace-color2;
    }
    .ace-earthsong.ace_multiselect .ace_selection.ace_start {
      box-shadow: 0 0 3px 0px $ace-color3;
      border-radius: 2px;
    }
    .ace_marker-layer .ace_step {
      background: rgb(198, 219, 174);
    }
    .ace_marker-layer .ace_bracket {
      margin: -1px 0 0 -1px;
      border: 1px solid $ace-color4;
    }
    .ace_marker-layer .ace_active-line {
      background: $ace-color5;
    }
    .ace_gutter-active-line {
      background-color: $ace-color5;
    }
    .ace_gutter-layer {
      background-color: $ace-color5;
    }
    .ace_marker-layer .ace_selected-word {
      border: 1px solid $ace-color2;
    }
    .ace_fold {
      background-color: $ace-color6;
      border-color: $ace-color7;
    }
    .ace_keyword {
      color: $ace-color2;
    }
    .ace_keyword.ace_other.ace_unit {
      color: $ace-color8;
    }
    .ace_constant.ace_language {
      color: $ace-color2;
    }
    .ace_constant.ace_numeric {
      color: $ace-color9;
    }
    .ace_constant.ace_character {
      color: $ace-color2;
    }
    .ace_constant.ace_other {
      color: $ace-color2;
    }
    .ace_support.ace_function {
      color: $ace-color8;
    }
    .ace_support.ace_constant {
      color: $ace-color2;
    }
    .ace_support.ace_constant.ace_property-value {
      color: $ace-color9;
    }
    .ace_support.ace_class {
      font-style: italic;
      color: $ace-color2;
    }
    .ace_support.ace_type {
      font-style: italic;
      color: $ace-color2;
    }
    .ace_storage {
      color: $ace-color2;
    }
    .ace_storage.ace_type {
      color: $ace-color8;
    }
    .ace_invalid {
      color: $ace-color10;
      background-color: $ace-color11;
    }
    .ace_invalid.ace_deprecated {
      color: $ace-color10;
      background-color: $ace-color11;
    }
    .ace_string {
      color: $ace-color9;
    }
    .ace_comment {
      color: $ace-color12;
    }
    .ace_variable {
      color: $ace-color6;
    }
    .ace_variable.ace_parameter {
      font-style: italic;
    }
    .ace_entity.ace_other.ace_attribute-name {
      color: $ace-color2;
    }
    .ace_entity.ace_name.ace_function {
      color: $ace-color6;
    }
    .ace_entity.ace_name.ace_tag {
      color: $ace-color8;
    }
    .ace_heading {
      color: $ace-color9;
    }
    .ace_blockquote {
      color: $ace-color2;
    }
    .ace_emphasis {
      color: $ace-color2;
    }
    .ace_strong {
      color: $ace-color2;
    }
    .ace_markup {
      color: $ace-color12;
    }
    .ace_underline {
      color: $ace-color9;
    }
  }

}