$ace-color1: #E8E8E8;
$ace-color2: #DB784D;
$ace-color3: #36312C;
$ace-color4: #3B3A32;
$ace-color5: #45403B;
$ace-color6: #60A365;
$ace-color7: #EBD1B7;
$ace-color8: #95CC5E;
$ace-color9: #F8BB39;
$ace-color10: #F8F8F0;
$ace-color11: #00A8C6;
$ace-color12: #7A7267;

.page-edit {

  .page-body {
    .col-md-6 {
      padding: 0;
    }
  }

  #markdown-edit {
    font-size: 17px;
    min-height: 750px;
  }

  #markdown-preview {
    min-height: 750px;
    background-color: $color-white;
  }

  .ace-earthsong {
    background-color: $ace-color3;
    color: $ace-color7;
    .ace_gutter {
      background: $ace-color1;
      color: $color-silver;
    }
    .ace_print-margin {
      width: 1px;
      background: $ace-color1;
    }
    .ace_cursor {
      color: $ace-color10;
    }
    .ace_marker-layer .ace_selection {
      background: $ace-color2;
    }
    .ace-earthsong.ace_multiselect .ace_selection.ace_start {
      box-shadow: 0 0 3px 0px $ace-color3;
      border-radius: 2px;
    }
    .ace_marker-layer .ace_step {
      background: rgb(198, 219, 174);
    }
    .ace_marker-layer .ace_bracket {
      margin: -1px 0 0 -1px;
      border: 1px solid $ace-color4;
    }
    .ace_marker-layer .ace_active-line {
      background: $ace-color5;
    }
    .ace_gutter-active-line {
      background-color: $ace-color5;
    }
    .ace_gutter-layer {
      background-color: $ace-color5;
    }
    .ace_marker-layer .ace_selected-word {
      border: 1px solid $ace-color2;
    }
    .ace_fold {
      background-color: $ace-color6;
      border-color: $ace-color7;
    }
    .ace_keyword {
      color: $ace-color2;
    }
    .ace_keyword.ace_other.ace_unit {
      color: $ace-color8;
    }
    .ace_constant.ace_language {
      color: $ace-color2;
    }
    .ace_constant.ace_numeric {
      color: $ace-color9;
    }
    .ace_constant.ace_character {
      color: $ace-color2;
    }
    .ace_constant.ace_other {
      color: $ace-color2;
    }
    .ace_support.ace_function {
      color: $ace-color8;
    }
    .ace_support.ace_constant {
      color: $ace-color2;
    }
    .ace_support.ace_constant.ace_property-value {
      color: $ace-color9;
    }
    .ace_support.ace_class {
      font-style: italic;
      color: $ace-color2;
    }
    .ace_support.ace_type {
      font-style: italic;
      color: $ace-color2;
    }
    .ace_storage {
      color: $ace-color2;
    }
    .ace_storage.ace_type {
      color: $ace-color8;
    }
    .ace_invalid {
      color: $ace-color10;
      background-color: $ace-color11;
    }
    .ace_invalid.ace_deprecated {
      color: $ace-color10;
      background-color: $ace-color11;
    }
    .ace_string {
      color: $ace-color9;
    }
    .ace_comment {
      color: $ace-color12;
    }
    .ace_variable {
      color: $ace-color6;
    }
    .ace_variable.ace_parameter {
      font-style: italic;
    }
    .ace_entity.ace_other.ace_attribute-name {
      color: $ace-color2;
    }
    .ace_entity.ace_name.ace_function {
      color: $ace-color6;
    }
    .ace_entity.ace_name.ace_tag {
      color: $ace-color8;
    }
  }

}