# IDE
.idea

# SASS
.sass-cache

# LOGS
logs

# NPM
node_modules/

# Bower
bower_components/

# StrongLoop
/client/
/common/
/server/

# Others
dart-version

# StrongLoop
.strong-pm
arc-manager.json

# Cordova www soft link
cordova/www/
cordova/platforms/ios/www

# iOS
UserInterfaceState.xcuserstate
