<md-toolbar class="cart-toolbar">
  <div class="md-toolbar-tools">

    <div ng-include="'icon-back.html'"></div>
    <h3>Edit</h3>
    <div ng-include="'icon-footer.html'"></div>
    <span flex></span>
    <md-button class="md-icon-button md-button" ng-click="ctrl.preview()">
      <md-icon md-font-set="material-icons">remove_red_eye</md-icon>
      <md-tooltip>
        Preview
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button md-button" ng-click="ctrl.save()">
      <md-icon md-font-set="material-icons">check_circle</md-icon>
      <md-tooltip>
        Finish
      </md-tooltip>
    </md-button>

  </div>
</md-toolbar>

<md-content class="md-padding">
  edit page
</md-content>
