<md-toolbar class="cart-toolbar">
  <div class="md-toolbar-tools">

    <div ng-include="'icon-back.html'"></div>
    <h3>Edit</h3>
    <div ng-include="'icon-shortcuts.html'"></div>
    <md-button class="md-icon-button md-button" ng-click="ctrl.showMetaInfo()">
      <md-icon md-font-set="material-icons">info_outline</md-icon>
      <md-tooltip>
        Meta Info
      </md-tooltip>
    </md-button>

    <span flex></span>

    <md-button class="md-icon-button md-button" ng-click="ctrl.preview()">
      <md-icon md-font-set="material-icons">remove_red_eye</md-icon>
      <md-tooltip>
        Preview
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button md-button" ng-click="ctrl.save()">
      <md-icon md-font-set="material-icons">check_circle</md-icon>
      <md-tooltip>
        Finish
      </md-tooltip>
    </md-button>

  </div>
</md-toolbar>

<md-content class="md-padding">

  <md-input-container flex>
    <label>Content</label>
    <textarea></textarea>
  </md-input-container>

</md-content>

<script type="text/ng-template" id="meta-info.html">
  <md-bottom-sheet class="md-list md-has-header">
    <p>Edit post meta info</p>

    <md-list>

      <md-list-item class="md-1-line">
        <md-icon md-font-set="material-icons" style="margin-left: 0">subject</md-icon>
        <md-input-container style="width: 70%">
          <label>Title</label>
          <input ng-model="ctrl.post.title">
        </md-input-container>
        <md-datepicker ng-model="ctrl.post.created" md-placeholder="Created" disabled></md-datepicker>
        <md-datepicker ng-model="ctrl.post.updated" md-placeholder="Updated" disabled></md-datepicker>
      </md-list-item>

      <md-list-item>
        <md-icon md-font-set="material-icons" style="margin-left: 0;">layers</md-icon>
        <md-input-container style="width: 15%">
          <label>Category</label>
          <input ng-model="ctrl.category.title" ng-change="ctrl.categoryContentChanged()" ng-model-options="{ debounce: 500 }">
        </md-input-container>
        <md-icon md-font-set="material-icons" style="margin: 0 32px;">label</md-icon>
        <md-input-container style="width: 15%">
          <label>Tags</label>
          <input>
        </md-input-container>
      </md-list-item>

    </md-list>

  </md-bottom-sheet>
</script>
