<md-toolbar class="cart-toolbar">
  <div class="md-toolbar-tools">

    <md-button class="md-icon-button md-button" ng-click="ctrl.goPath('/settings')">
      <md-icon md-font-set="material-icons">settings</md-icon>
      <md-tooltip>
        Settings
      </md-tooltip>
    </md-button>
    <h3>Home</h3>
    <span flex class="flex"></span>
    <md-button class="md-icon-button md-button" ng-click="ctrl.reloadPage()">
      <md-icon md-font-set="material-icons">refresh</md-icon>
      <md-tooltip>
        Refresh
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button md-button" ng-click="ctrl.goPath('/search')">
      <md-icon md-font-set="material-icons">search</md-icon>
      <md-tooltip>
        Search
      </md-tooltip>
    </md-button>

  </div>
</md-toolbar>

<md-content class="md-padding">
  list page
</md-content>


