<md-toolbar class="cart-toolbar">
  <div class="md-toolbar-tools">

    <div ng-include="'icon-back.html'"></div>
    <h3>Search</h3>
    <div ng-include="'icon-shortcuts.html'"></div>

  </div>
</md-toolbar>

<md-content class="md-padding">

  <md-list>

    <md-subheader class="md-no-sticky">Category</md-subheader>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Tag</md-subheader>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Time</md-subheader>

  </md-list>

</md-content>
