<md-toolbar class="cart-toolbar">
  <div class="md-toolbar-tools">

    <md-button class="md-icon-button md-button" ng-click="ctrl.goBack()">
      <md-icon md-font-set="material-icons">arrow_back</md-icon>
      <md-tooltip>
        Back
      </md-tooltip>
    </md-button>
    <h3>Search</h3>
    <span flex></span>

  </div>
</md-toolbar>

<md-content class="md-padding" flex>

  <md-list>

    <md-subheader class="md-no-sticky">Category</md-subheader>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Tag</md-subheader>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Time</md-subheader>

  </md-list>

</md-content>

<div ng-include src="'views/footer.html'"></div>
