$nav-bg-img-url: '../img/bg/bg.jpg';

$color-white-pure: #FFFFFF;
$color-white: #F5F5F5;
$color-gray: #E3E6E9;
$color-gray-dark: #D4D4D4;
$color-green: #209D78;
$color-green-light: #2ECC71;
$color-blue: #3498DB;
$color-dark: #302F39;
$color-black: #25242C;
$color-pink: #FE8B6C;
$color-red-light: #E74C3C;
$color-red: #B81D18;
$color-purple: #EC3F8C;

$nav-trigger-margin: 5px;
$nav-width-expended: 240px;
$nav-trigger-adj: 10px;
$nav-icon-size: 40px;
$nav-animation-speed: 1s;

$page-layer-trigger: 1002;
$page-layer-content: 1001;
$page-layer-nav: 1000;
$page-layer-hide: 999;

body {
  background-color: $color-gray;
  color: $color-black;
}

.nav-icon {
  color: $color-gray;
  font-size: $nav-icon-size;
  cursor: pointer;
}

.nav-trigger {
  position: fixed;
  top: $nav-trigger-margin;
  left: $nav-trigger-margin;
  width: ($nav-icon-size - $nav-trigger-adj) * 2;
  height: ($nav-icon-size - $nav-trigger-adj) * 2;
  border-radius: $nav-icon-size - $nav-trigger-adj;
  background: $color-black;
  z-index: $page-layer-trigger;
  margin: 0 0;
  cursor: pointer;
  opacity: 0;
  transition: $nav-animation-speed ease-in;
  span {
    margin: 8px 12px;
    animation-duration: $nav-animation-speed;
    transition: $nav-animation-speed ease-in;
  }
}
.nav-trigger:hover {
  animation: tada $nav-animation-speed;
}
.nav-trigger-active {
  opacity: 1;
}

.nav-fixed {
  position: fixed;
  width: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: $page-layer-nav;
  box-shadow: none;
  background: url($nav-bg-img-url) 50% 0% / cover no-repeat fixed;
  transition: $nav-animation-speed ease-in;
  .nav-list {
    margin-top: 80px;
  }
  .nav-line {
    width: 0px;
    height: $nav-icon-size + 10px;
    padding: 0 0;
    cursor: pointer;
    transition:
      width $nav-animation-speed ease-in,
      padding $nav-animation-speed ease-in,
      background-color 0.4s ease-in;
  }
  .nav-line:hover {
    background-color: $color-blue;
    .nav-icon {
      animation: bounce $nav-animation-speed;
    }
  }
  .active {
    background-color: $color-blue;
  }
  .nav-icon {
    width: 0px;
    height: $nav-icon-size;
    margin-top: 4px;
    display: block;
    float: left;
    overflow: hidden;
    opacity: 0;
    transition: $nav-animation-speed ease-in;
  }
  .nav-icon-font {
    color: $color-gray;
    width: 0px;
    height: $nav-icon-size + 10px;
    margin: 0 0;
    line-height: $nav-icon-size + 10px;
    display: block;
    float: left;
    vertical-align: middle;
    overflow: hidden;
    opacity: 0;
    transition: $nav-animation-speed ease-in;
  }
}

.page-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: $color-gray;
  z-index: $page-layer-content;
  transition: $nav-animation-speed ease-in;
}

.nav-expanded {
  .nav-fixed {
    width: $nav-width-expended;
    box-shadow: inset -15px 0px 40px rgba(67, 67, 67, 0.3);
    .nav-line {
      width: $nav-width-expended;
      padding: 0 0 0 20px;
    }
    .nav-icon {
      width: $nav-icon-size;
      opacity: 1;
    }
    .nav-icon-font {
      width: 165px;
      margin: 0 0 0 15px;
      opacity: 1;
    }
  }
  .page-content {
    left: $nav-width-expended;
  }
  .nav-trigger {
    width: $nav-icon-size;
    height: $nav-icon-size;
    border-radius: 0px;
    background: transparent;
    margin: 0 15px;
    opacity: 1;
    span {
      margin: 0 0;
    }
  }
}

.landing-top {
  width: 100%;
  color: $color-gray;
  background: $color-dark;
  padding-bottom: 3%;
  .top {
    margin-top: 5%;
  }
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
  }
  .title-sub {
    margin-top: 1%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
  }
  .avatar {
    width: 160px;
    height: 160px;
    border-radius: 80px;
  }
  .zocial {
    margin-top: 10%;
    width: 100%;
  }
}

.landing-bottom {
  width: 100%;
  color: $color-black;
  .row {
    margin-top: 2%;
  }
  .grid {
    min-height: 20em;
    margin-right: 1%;
  }
  .grid-left {
    margin-left: 11.5%;
  }
}

.http-code {
  min-height: 500px;
  .top {
    margin-top: 15%;
  }
  .title {
    font-size: 100px;
    line-height: 100px;
  }
}

.page-content-container {
  animation: fadeIn 1.5s;
}

.page-top {
  width: 100%;
  color: $color-gray;
  background: $color-dark;
  h3 {
    margin-top: 21px;
  }
}

.blog-list-row {
  margin-top: 20px;
}
.blog-list:before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18.5px;
  width: 3px;
  background-color: $color-dark;
}
.blog-list {
  min-height: 500px;
  position: relative;
  list-style-type: none;
  li {
    position: relative;
  }
  .badge {
    position: absolute;
    z-index: $page-layer-content + 1;
    top: 16px;
    left: -32px;
    width: 25px;
    height: 25px;
    border-radius: 50% 50%;
    background-color: $color-gray;
    div {
      position: absolute;
      z-index: $page-layer-content + 2;
      top: 5px;
      left: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50% 50%;
      background-color: $color-dark;
    }
  }
  .panel {
    position: relative;
    width: 55%;
    padding: 5px 20px;
    margin: 0 0 20px 20px;
    border-radius: 2px;
    border: 1px solid $color-gray-dark;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: $color-white-pure;
  }
  .panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 12px;
    left: -20px;
    border-top: 15px solid transparent;
    border-right: 0 solid $color-white-pure;
    border-bottom: 15px solid transparent;
    border-left: 20px solid $color-white-pure;
    border-right-width: 20px;
    border-left-width: 0;
  }
}