$bg-black-url: '../img/bg/bg.jpg';

$color-white: #F5F5F5;
$color-gray: #E3E6E9;
$color-green: #209D78;
$color-green-light: #2ECC71;
$color-blue: #3498DB;
$color-dark: #302F39;
$color-black: #25242C;
$color-pink: #FE8B6C;
$color-red: #B81D18;
$color-purple: #EC3F8C;

$nav-shadow-color: rgba(67, 67, 67, 0.3);
$nav-width-expended: 240px;
$nav-trigger-adj: 10px;
$nav-icon-size: 40px;
$nav-icon-margin-l: 15px;
$nav-animation-speed: 1s;
$icon-pos-adj-h: 1px;
$icon-pos-adj-v: -3px;

body {
  background: url($bg-black-url) 50% 0% / cover no-repeat fixed;
  color: $color-black;
}

.nav-icon {
  color: $color-gray;
  font-size: $nav-icon-size;
  cursor: pointer;
}

.nav-trigger {
  position: fixed;
  top: 5px;
  left: 5px;
  width: ($nav-icon-size - $nav-trigger-adj) * 2;
  height: ($nav-icon-size - $nav-trigger-adj) * 2;
  border-radius: $nav-icon-size - $nav-trigger-adj;
  background: $color-black;
  z-index: 1001;
  margin: 0 0;
  cursor: pointer;
  transition: $nav-animation-speed ease-in;
  span {
    margin: 8px 12px;
    animation-duration: $nav-animation-speed;
    transition: $nav-animation-speed ease-in;
  }
}
.nav-trigger:hover {
  animation: tada $nav-animation-speed;
}

.nav-fixed {
  position: fixed;
  width: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  box-shadow: none;
  transition: $nav-animation-speed ease-in;
  .nav-list {
    margin-top: 80px;
  }
  .nav-line {
    width: 0px;
    height: $nav-icon-size + 10px;
    padding: 0 0;
    cursor: pointer;
    transition:
      width $nav-animation-speed ease-in,
      padding $nav-animation-speed ease-in,
      background-color 0.4s ease-in;
  }
  .nav-line:hover {
    background-color: $color-blue;
    .nav-icon {
      animation: bounce $nav-animation-speed;
    }
  }
  .active {
    background-color: $color-blue;
  }
  .nav-icon {
    width: 0px;
    height: $nav-icon-size;
    margin-top: 4px;
    opacity: 0;
    transition: $nav-animation-speed ease-in;
  }
  .nav-icon-font {
    color: $color-gray;
    width: 0px;
    height: $nav-icon-size;
    margin: 0 0;
    line-height: $nav-icon-size;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    transition: $nav-animation-speed ease-in;
  }
}

.page-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: $color-gray;
  z-index: 1000;
  transition: $nav-animation-speed ease-in;
}

.nav-expanded {
  .nav-fixed {
    width: $nav-width-expended;
    box-shadow: inset -15px 0px 40px $nav-shadow-color;
    .nav-line {
      width: $nav-width-expended;
      padding: 0 0 0 20px;
    }
    .nav-icon {
      width: $nav-icon-size;
      opacity: 1;
    }
    .nav-icon-font {
      width: 165px;
      margin: 0 0 25px 10px;
      opacity: 1;
    }
  }
  .page-content {
    left: $nav-width-expended;
  }
  .nav-trigger {
    width: $nav-icon-size;
    height: $nav-icon-size;
    border-radius: 0px;
    background: transparent;
    margin: 0 $nav-icon-margin-l;
    span {
      margin: 0 0;
    }
  }
}

.landing-top {
  width: 100%;
  color: $color-gray;
  background: $color-dark;
  padding-bottom: 3%;
  .top {
    margin-top: 5%;
  }
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
  }
  .title-sub {
    margin-top: 1%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
  }
  .avatar {
    width: 160px;
    height: 160px;
    border-radius: 80px;
  }
  .zocial {
    margin-top: 10%;
    width: 100%;
  }
}

.landing-bottom {
  width: 100%;
  color: $color-black;
  .row {
    margin-top: 2%;
  }
  .grid {
    min-height: 20em;
    margin-right: 1%;
  }
  .grid-left {
    margin-left: 11.5%;
  }
}

.http-code {
  min-height: 500px;
  .top {
    margin-top: 15%;
  }
  .title {
    font-size: 100px;
    line-height: 100px;
  }
}