$bg-black-url: '../img/bg/bg.jpg';

$color-white: #F5F5F5;
$color-gray: #E3E6E9;
$color-green: #209D78;
$color-blue: #3498DB;
$color-dark: #302F39;
$color-black: #25242C;
$color-pink: #FE8B6C;
$color-red: #B81D18;
$color-purple: #EC3F8C;

$nav-shadow-color: rgba(67, 67, 67, 0.3);
$nav-width-opened: 80px;
$nav-width-expended: 240px;

$nav-icon-size: 40px;
$nav-icon-margin-l: 15px;
$icon-pos-adj-h: 1px;
$icon-pos-adj-v: -3px;

body {
  background: url($bg-black-url) 50% 0% / cover no-repeat fixed;
  color: $color-black;
}

.nav-icon {
  color: $color-gray;
  font-size: $nav-icon-size;
  cursor: pointer;
}

.nav-trigger {
  position: fixed;
  top: 5px;
  left: 5px;
  width: $nav-icon-size * 2;
  height: $nav-icon-size * 2;
  border-radius: $nav-icon-size;
  background: $color-black;
  z-index: 1000;
  span {
    margin: ($nav-icon-size / 2 + $icon-pos-adj-v) ($nav-icon-size / 2 + $icon-pos-adj-h);
  }
}

.nav-fixed {
  position: fixed;
  width: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  box-shadow: inset -15px 0px 40px $nav-shadow-color;
}

.page-content {
  position: absolute;
  background-color: $color-gray;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.nav-opened {
  .nav-fixed {
    width: $nav-width-opened;
  }
  .page-content {
    left: $nav-width-opened;
  }
  .nav-trigger {
    width: $nav-icon-size;
    height: $nav-icon-size;
    border-radius: 0px;
    background: transparent;
    span {
      margin: 0 $nav-icon-margin-l;
    }
  }
}

.nav-expanded {
  .nav-fixed {
    width: $nav-width-expended;
  }
  .page-content {
    left: $nav-width-expended;
  }
  .nav-trigger {
    width: $nav-icon-size;
    height: $nav-icon-size;
    border-radius: 0px;
    background: transparent;
    span {
      margin: 0 $nav-icon-margin-l;
    }
  }
}

.landing-top {
  width: 100%;
  color: $color-gray;
  background: $color-dark;
  padding-bottom: 3%;
  .top {
    margin-top: 5%;
  }
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
  }
  .title-sub {
    margin-top: 1%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
  }
  .avatar {
    width: 160px;
    height: 160px;
    border-radius: 80px;
  }
  .zocial {
    margin-top: 10%;
    width: 100%;
  }
}

.landing-bottom {
  width: 100%;
  color: $color-black;
  .row {
    margin-top: 2%;
  }
  .grid {
    min-height: 20em;
    margin-right: 1%;
  }
  .grid-left {
    margin-left: 11.5%;
  }
}

.http-code {
  min-height: 500px;
  .top {
    margin-top: 15%;
  }
  .title {
    font-size: 100px;
    line-height: 100px;
  }
}