@import "partials/def";
@import "partials/global";
@import "partials/nav";

.landing-top {
  width: 100%;
  color: $color-gray;
  background: $color-dark;
  padding-bottom: 3%;
  .top {
    margin-top: 5%;
  }
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
  }
  .title-sub {
    margin-top: 1%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
  }
  .avatar {
    width: 160px;
    height: 160px;
    border-radius: 80px;
  }
  .zocial {
    margin-top: 10%;
    width: 100%;
  }
}

.landing-bottom {
  width: 100%;
  color: $color-black;
  .row {
    margin-top: 2%;
  }
  .grid {
    min-height: 20em;
    margin-right: 1%;
  }
  .grid-left {
    margin-left: 11.5%;
  }
}

.http-code {
  min-height: 500px;
  .top {
    margin-top: 15%;
  }
  .title {
    font-size: 100px;
    line-height: 100px;
  }
}

.page-content-container {
  animation: fadeIn 1.5s;
}

.page-top {
  width: 100%;
  color: $color-gray;
  background: $color-dark;
  h3 {
    margin-top: 21px;
  }
}

.page-body {
  margin-top: 20px;
}
.blog-list:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18.5px;
  width: 3px;
  background-color: $color-dark;
}
.blog-list:after {
  content: " ";
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 18.5px;
  width: 3px;
  background: linear-gradient(to bottom, $color-dark, $color-white);
}
.blog-list {
  min-height: 500px;
  position: relative;
  list-style-type: none;
  li {
    position: relative;
  }
  .row {
    margin: 0 0;
  }
  .col-md-1 {
    margin: 0 5px 0 0;
  }
  .post-badge {
    position: absolute;
    z-index: $page-layer-content + 1;
    top: 16px;
    left: -32px;
    width: 25px;
    height: 25px;
    border-radius: 50% 50%;
    background-color: $color-gray;
    div {
      position: absolute;
      z-index: $page-layer-content + 2;
      top: 5px;
      left: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50% 50%;
      background-color: $color-dark;
    }
  }
  .post-panel {
    position: relative;
    width: 55%;
    padding: 5px 20px;
    margin: 0 0 20px 20px;
    border-radius: 2px;
    border: 1px solid $color-gray-dark;
    box-shadow: $box-shadow;
    background-color: $color-white-pure;
    .post-heading {
      h4 {
        margin: 10px 0 0 0;
      }
      .text-muted{
        .post-time {
          color: $color-silver;
        }
        .post-icon {
          top: 2px;
        }
        .post-btn {
          padding: 3px 9px;
          margin: -3px 0 0 0;
        }
      }
    }
    .post-body {
      margin: 5px 0 0 0;
    }
  }
  .post-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 12px;
    left: -20px;
    border-top: 15px solid transparent;
    border-right: 0 solid $color-white-pure;
    border-bottom: 15px solid transparent;
    border-left: 20px solid $color-white-pure;
    border-right-width: 20px;
    border-left-width: 0;
  }
}

.tagsrow {
  margin: 15px 0 0 0;
  .tag {
    padding-right: 16px;
  }
  .tag:hover {
    padding-right: 22px;
  }
  .tagsinput {
    height: auto;
    border: none;
    padding: 10px 1px 5px 6px;
    box-shadow: $box-shadow;
  }
  .tagsinput-remove-link {
    padding-top: 10px;
  }
  .tag-name {
    display: block;
    float: left;
    margin: 3px 5px 0 0;
  }
  .tag-num {
    display: block;
    float: left;
    margin: 3px 0 0 0;
    border-radius: 3px;
    color: $color-concrete;
    background-color: $color-white-pure;
  }
}

.page-search {
  .tagsrow {
    margin: 0;
  }
  .search-line {
    margin-bottom: 20px;
  }
  .search-selected-span {
    margin: -4px 15px 0 5px;
  }
  .search-calendar {
    padding: 25px;
    background-color: $color-white-pure;
    border-radius: 10px;
    box-shadow: $box-shadow;
    .fc-header-title h2 a {
      cursor: pointer;
    }
    .fc-day {
      cursor: pointer;
    }
    .fc-event-inner {
      padding-left: 5px;
    }
    .calEvent {
      animation: bounce 2s 1s;
    }
  }
}