<div class="container-fluid page-content-container page-edit">
    <div class="row">
        <div class="col-md-12 page-top">
            <h3>Edit</h3>
        </div>
    </div>
    <div class="row page-body">
        <div class="col-md-6">
            <div id="markdown-edit"></div>
            <div id="markdown-loading" style="display: none;">
                <div class="spinner-markdown">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="markdown-preview"></div>
            <div id="markdown-toc">
                <div class="markdown-toc-icon glyphicon glyphicon-plus" ng-click="toggleToc()"></div>
                <div class="markdown-toc-content"></div>
            </div>
        </div>
    </div>
</div>