<div class="container-fluid page-content-container page-label">
    <div class="row">
        <div class="col-md-12 page-top">
            <h3>Category | Tag</h3>
        </div>
    </div>
    <div class="row page-body">
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">Search: </span>
                <input type="text" class="form-control" placeholder="Search Content ...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="label-create-btn glyphicon glyphicon-plus"></span>
                        New Category | Tag
                    </button>
                </span>
                <input type="text" class="form-control" placeholder="Input Category | Tag Name ...">
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn-group select select-block">
                <button class="btn dropdown-toggle clearfix btn-primary" data-toggle="dropdown">
                    <span class="filter-option pull-left">Sort By</span>
                    &nbsp;
                    <span class="caret"></span>
                </button>
                <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                <ul class="dropdown-menu dropdown-inverse">
                    <li><a href="#"><span class="pull-left">Category | Tag Name</span></a></li>
                    <li class="selected"><a href="#"><span class="pull-left">Category | Tag Count</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row tagsrow tagsinput">
        <div class="col-md-12">
            <span class="tag">
                <span>
                    <span class="tag-name">This is a very long long tag name, longer than you can imagine</span>
                    <span class="tag-num">&nbsp;1234&nbsp;</span>
                </span>
                <a class="tagsinput-remove-link"></a>
            </span>
            <span class="tag">
                <span>
                    <span class="tag-name">Clean</span>
                    <span class="tag-num">&nbsp;1234&nbsp;</span>
                </span>
                <a class="tagsinput-remove-link"></a>
            </span>
        </div>
    </div>
</div>