<div class="container-fluid page-content-container page-label">
    <div class="row">
        <div class="col-md-12 page-top">
            <h3>Category | Tag</h3>
        </div>
    </div>
    <div class="row page-body">
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">Search: </span>
                <input type="text" class="form-control" placeholder="Search Content ...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="label-create-btn glyphicon glyphicon-plus"></span>
                        New Category | Tag
                    </button>
                </span>
                <input type="text" class="form-control" placeholder="Input Category | Tag Name ...">
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                    Sort By <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Category | Tag Name</a></li>
                    <li class="active"><a href="#">Category | Tag Count</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row tagsinput-primary">
        <div class="col-md-12 bootstrap-tagsinput">
            <span class="tag label label-info">
                This is a very long long tag name, longer than you can imagine
                <span class="tagsinput-remove-link" data-role="remove"></span>
            </span>
            <span class="tag label label-info">
                Clean
                <span class="tagsinput-remove-link" data-role="remove"></span>
            </span>
        </div>
    </div>
</div>