<div class="container-fluid page-content-container">
    <div class="row">
        <div class="col-md-12 page-top blog-list-top">
            <div class="row">
                <div class="col-md-1">
                    <h3>Blog</h3>
                </div>
                <div class="col-md-2" ng-show="isMaster">
                    <div class="top-button">
                        <a href="#" class="btn btn-xs btn-primary" ng-click="createNewPost()">New</a>
                        <a href="#" class="btn btn-xs btn-primary" ng-click="openTmpPostList()">View Tmp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row page-body">
        <div class="col-md-12">
            <ul class="blog-list">
                <li>
                    <div class="post-badge"><div></div></div>
                    <div class="post-panel">
                        <div class="post-heading">
                            <h4><a href="#">Timeline Event</a></h4>
                            <div>
                                <small class="text-muted">
                                    <span class="post-icon glyphicon glyphicon-time"></span>
                                    <a class="post-time" href="#">2014</a>-<a class="post-time" href="#">08</a>-<a class="post-time" href="#">09</a> 10:12:13
                                    <span class="post-icon glyphicon glyphicon-th-list"></span>
                                    <a href="#" class="post-btn btn btn-xs btn-default">Category</a>
                                    <span class="post-icon glyphicon glyphicon-tag"></span>
                                    <a href="#" class="post-btn btn btn-xs btn-default">PHP</a>
                                    <a href="#" class="post-btn btn btn-xs btn-default">Web</a>
                                </small>
                            </div>
                            <div class="row">
                                <a href="#" class="btn btn-xs btn-primary col-md-1">View</a>
                                <a href="#" class="btn btn-xs btn-inverse col-md-1">Edit</a>
                                <a href="#" class="btn btn-xs btn-danger col-md-1">Delete</a>
                            </div>
                        </div>
                        <div class="post-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/ng-template" id="CartBlogListModal.html">
        <div class="blog-list-modal">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <b>Temporarily saved posts:</b>
                                </div>
                                <div class="modal-close pull-right">
                                    <span class="glyphicon glyphicon-remove" ng-click="close()"></span>
                                </div>
                                <div class="modal-delete-all pull-right" ng-show="dataOnPage.length > 0">
                                    <a href="#" class="btn btn-xs btn-danger" ng-click="deleteAllTmpPost()">Delete All</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Created</th>
                                        <th>Updated&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="post in dataOnPage">
                                        <td>
                                            <a href="{{ rootUrl }}view/{{ post._id }}" ng-click="close()" ng-show="post.published">{{ post.title }}</a>
                                            <span ng-show="!post.published">{{ post.title }}</span>
                                        </td>
                                        <td><a href="{{ rootUrl }}category/{{ post.category }}" ng-click="close()">{{ post.category }}</a></td>
                                        <td>{{ moment.unix(post.created).format('YYYY-MM-DD HH:mm:ss') }}</td>
                                        <td>{{ moment.unix(post.created).format('YYYY-MM-DD HH:mm:ss') }}</td>
                                        <td>
                                            <span ng-show="post.published">Published</span>
                                            <span ng-show="!post.published">Draft</span>
                                        </td>
                                        <td><a href="{{ rootUrl }}edit/{{ post._id }}" class="btn btn-xs btn-primary" ng-click="close()">Edit</a></td>
                                        <td><a href="#" class="btn btn-xs btn-danger" ng-click="deleteTmpPost(post._id)">Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 pull-right">
                        <div class="pagination pull-right">
                            <pagination
                                boundary-links="true"
                                direction-links="true"
                                total-items="paginationTotalItems"
                                items-per-page="itemsPerPage"
                                ng-model="paginationCurrentPage"
                                class="pagination-sm"
                                num-pages="paginationNumPages"
                                ng-change="loadPageData()"
                                max-size="paginationMaxSize"
                                rotate="false"
                                previous-text="&lsaquo;"
                                next-text="&rsaquo;"
                                first-text="&laquo;"
                                last-text="&raquo;">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>