<div class="container-fluid page-content-container">
    <div class="row">
        <div class="col-md-12 page-top">
            <h3>Blog</h3>
        </div>
    </div>
    <div class="row page-body">
        <div class="col-md-12">
            <ul class="blog-list">
                <li>
                    <div class="post-badge"><div></div></div>
                    <div class="post-panel">
                        <div class="post-heading">
                            <h4><a href="#">Timeline Event</a></h4>
                            <div>
                                <small class="text-muted">
                                    <span class="post-icon glyphicon glyphicon-time"></span>
                                    <a class="post-time" href="#">2014</a>-<a class="post-time" href="#">08</a>-<a class="post-time" href="#">09</a> 10:12:13
                                    <span class="post-icon glyphicon glyphicon-th-list"></span>
                                    <a href="#" class="post-btn btn btn-xs btn-default">Category</a>
                                    <span class="post-icon glyphicon glyphicon-tag"></span>
                                    <a href="#" class="post-btn btn btn-xs btn-default">PHP</a>
                                    <a href="#" class="post-btn btn btn-xs btn-default">Web</a>
                                </small>
                            </div>
                            <div class="row">
                                <a href="#" class="btn btn-xs btn-primary col-md-1">View</a>
                                <a href="#" class="btn btn-xs btn-inverse col-md-1">Edit</a>
                                <a href="#" class="btn btn-xs btn-danger col-md-1">Delete</a>
                            </div>
                        </div>
                        <div class="post-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>