body {
  background-color: $color-gray;
  color: $color-black;
}

.clear-all {
  clear: both;
}

/**
 * Flat-UI hacks
 */
.dropdown-menu {
  left: auto;
}
.dropdown-menu > li:first-child > a:first-child {
  border-top-left-radius:  4px;
  border-top-right-radius: 4px;
}

.dropdown-menu{
  a {
    cursor: pointer;
  }
}