.spinner-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black;
  opacity: 0.5;
  z-index: $page-layer-mask;
}

.spinner {
  width: 80px;
  height: 80px;

  position: relative;
  margin: 20% auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $color-gray;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
  }
}

.spinner-markdown {
  margin: auto 0;
  width: 70px;
  text-align: center;
}

.spinner-markdown > div {
  width: 18px;
  height: 18px;
  background-color: $color-silver;
  border-radius: 100%;
  display: inline-block;
  animation: bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-markdown .bounce1 {
  animation-delay: -0.32s;
}

.spinner-markdown .bounce2 {
  animation-delay: -0.16s;
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
  }
}