$nav-bg-img-url: '../img/bg/bg.jpg';

$color-white-pure: #FFFFFF;
$color-white: #F5F5F5;
$color-gray: #E3E6E9;
$color-gray-dark: #D4D4D4;
$color-silver: #BDC3C7;
$color-concrete: #95A5A6;
$color-asbestos: #7F8C8D;
$color-green: #209D78;
$color-green-light: #2ECC71;
$color-blue: #3498DB;
$color-dark: #302F39;
$color-black: #25242C;
$color-pink: #FE8B6C;
$color-red-light: #E74C3C;
$color-red: #B81D18;
$color-purple: #EC3F8C;

$box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);

$nav-trigger-margin: 5px;
$nav-width-expended: 240px;
$nav-trigger-adj: 10px;
$nav-icon-size: 40px;
$nav-animation-speed: 1s;

$page-layer-trigger: 1002;
$page-layer-content: 1001;
$page-layer-nav: 1000;
$page-layer-hide: 999;

$footer-height: 100px;
$footer-padding: 10px;