<div class="landing-top">
    <div class="container">
        <div class="row top">
            <div class="col-md-12 title">
                Profile icon here
            </div>
        </div>
    </div>
</div>

<div class="landing-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 grid grid-left well">
                <h4>Intro</h4>
                <p>self introduction here</p>
            </div>
            <div class="col-md-3 grid well">
                <h4>Words</h4>
                <p>some words here</p>
            </div>
            <div class="col-md-3 grid well">
                <h4>Social</h4>
                <p>social media or mail info here</p>
            </div>
        </div>
    </div>
</div>