.page-search {
  .tagsrow {
    margin: 0;
  }
  .search-line {
    margin-bottom: 20px;
  }
  .search-selected-span {
    min-width: 20px;
    margin: -4px 15px 0 5px;
  }
  .search-calendar {
    padding: 25px;
    background-color: $color-white-pure;
    border-radius: 10px;
    box-shadow: $box-shadow;
    .fc-header-title h2 a {
      cursor: pointer;
    }
    .fc-day {
      cursor: pointer;
    }
    .fc-event-inner {
      padding-left: 5px;
    }
    .calEvent {
      animation: bounce 2s 1s;
    }
  }
}