<ion-header-bar>
  <button class="button button-icon icon ion-navicon" ng-click="ctrl.showShortcuts()"></button>
  <div class="h1 title">Home</div>
  <button class="button button-icon icon ion-ios-refresh-empty" ng-click="ctrl.reloadPage()"></button>
</ion-header-bar>

<ion-content>

  <ion-list>
    <ion-item ng-repeat="postInfo in ctrl.postList">
      <h2 class="item-content">
        {{ postInfo.title }}
      </h2>
      <a href="#" class="subdued">
        <i class="icon ion-ios-book-outline"></i>
        {{ ctrl.categoryGetTitleViaUuid(postInfo.category) }}
      </a>
    </ion-item>
  </ion-list>

</ion-content>
