<div class="container-fluid page-content-container">
    <div class="row">
        <div class="col-md-12">
            <h2>category</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>tag</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>server status</h2>
        </div>
    </div>
    <!-- dummy start -->
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
    <div class="row"><div class="col-md-12"><h4>dummy</h4></div></div>
</div>