<div class="landing-top">
    <div class="container">
        <div class="row top">
            <div class="col-md-12 title">
                Create / Restore Blog
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 title">
                with Google Drive Account
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="zocial google">Sign in with Google</div>
            </div>
        </div>
    </div>
</div>

<div class="landing-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 grid grid-left well">
                <h4>Simple</h4>
                <p>Just login with your Google Drive Account on the OAuth page of Goolge.</p>
                <p>Your blog will be created or restored.</p>
                <p>No other steps required.</p>
            </div>
            <div class="col-md-3 grid well">
                <h4>Safe</h4>
                <p>Authorize with Google Drive Account, your data stored in google drive.</p>
                <p>It will never be lost.</p>
            </div>
            <div class="col-md-3 grid well">
                <h4>Automatic</h4>
                <p>Data backup & restore automatically</p>
                <p>No need further steps. Tons of time saved.</p>
            </div>
        </div>
    </div>
</div>