<div class="landing-top">
    <div class="container">
        <div class="row top">
            <div class="col-md-12 title">
                Login with
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 title">
                Google Drive Account
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="zocial google">Sign in with Google</div>
            </div>
        </div>
    </div>
</div>

<div class="landing-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 grid grid-left well">
                <h4>Google OAuth</h4>
                <p>No user info saved in blog system.</p>
                <p>No worry about security & privacy.</p>
            </div>
            <div class="col-md-3 grid well">
                <h4>Account</h4>
                <p>You will not pass the login validation, if you login with the account different from the account who init the blog system.</p>
                <p>So do not login here, if you are NOT the system admin.</p>
            </div>
            <div class="col-md-3 grid well">
                <h4>Master</h4>
                <p>You will be redirected to the master page, after login with Google Drive Account.</p>
            </div>
        </div>
    </div>
</div>