<div class="landing-top http-code">
    <div class="container">
        <div class="row top">
            <div class="col-md-12 title">
                ERROR!!!
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 title-sub">
                Something wrong happened, you may visit something else on the site.
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.landing-top .title').textillate({
        loop: true,
        in: { effect: 'bounceIn' },
        out: { effect: 'bounceOut' },
        sync: true
    });
</script>